doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/searchbar.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/3x3Image.css')
    link(rel="stylesheet", href="/stylesheets/common.css")
  body
    // Main Grid
    .mainWrapper
      // Header
      .headerMainGrid
        .loginItem
          a(href='/specificView') Login
        .titleTextItem
          a(href='/index') Bothniabladet
        .uploadAndCartGrid
          .uploadAndCartItem  Ladda Upp 
          .uploadAndCartItem  Kundvagn 
      // Search
      .searchBar
        .gridItemSearch
          form#form(role='search')
            input#query(type='search' name='q' placeholder='Search...' aria-label='Search through site content')
            button Search

      // Bilder
      .imageGrid
          .imageItem
            a(href='/specificView')
              #{image1}
          .imageItem
            a(href='/specificView')
              #{image2}
          .imageItem
            a(href='/specificView')
              #{image3}
          .imageItem
            a(href='/specificView')
              #{image4}
          .imageItem
            a(href='/specificView')
              #{image5}
          .imageItem
            a(href='/specificView')
              #{image6}
      // Footer
      .footerMainGrid
        .phoneItem
          .phoneTitle  Telefon:
          br
          a(href='tel:070111-12 34') 070111-12 34
          br
          a(href='0920-12 34 56') 0920-12 34 56
          br
        .tagTitleLineItem
          .tagTitle Bothniabladet
          br
          .tagLine Norrbottens Bläckigaste Hemsida
        .adressItem
          .adressTitle Adress 
          br
          |                 Bothniavägen 5 (Kontor)
          br
          |                 Pressvägen 9 (Lager)
script(src="/public/javascripts/searchClientside.js") 