doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/specificView.css')
  body
    // Main Grid
    .mainWrapper
      // Header
      .headerMainGrid
        .loginItem
          a(href='/') Tillbaka
        .titleTextItem
          a(href='/index') Bothniabladet
        .uploadAndCartGrid
          .uploadAndCartItem  Kundvagn 
      // Content
      .contentGrid
        .titleItem #{titel}
        .imageItem
          img(src='/images'+'#{image}')
        .descriptionItem Beskrivning: #{description}
        .priceItem #{price} kr
        .cartAndOptionItem
          .variantItem
            select#variant(name='variant')
              option(value='original') Original
              option(value='röd') Röd
              option(value='cropped') Cropped
          .cartItem Lägg till i Kundvagn
        .detailsItem Fotograf: #{fotograf}
      // Footer
      .footerMainGrid
        .phoneItem
          .phoneTitle  Telefon:
          br
          a(href='tel:070111-12 34') 070111-12 34
          br
          a(href='0920-12 34 56') 0920-12 34 56
          br
        .tagTitleLineItem
          .tagTitle Bothniabladet
          br
          .tagLine Norrbottens Bläckigaste Hemsida
        .adressItem
          .adressTitle Adress 
          br
          |                 Bothniavägen 5 (Kontor)
          br
          |                 Pressvägen 9 (Lager)
script(src="/javascripts/searchClientside.js")